<app-navbar></app-navbar>
    <div class="how">
         <div >
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="https://library.kissclipart.com/20180918/ove/kissclipart-account-icon-clipart-computer-icons-user-profile-c-b43be10750a4eda5.png">
          </div>
          <div class="team-content">
            <h3 class="name">Mary Huntley</h3>
            <h4 class="title">Web Developer</h4>
          </div>
          <ul class="social">
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://api.whatsapp.com/send?phone=+919781747669text=Hi, I contacted you Through your website" class="fa fa-whatsapp" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-instagram" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <app-footer></app-footer>