*{
  margin: 0;
}

body {
  font-family: tahoma;
  height: 100vh;
  background-image: url(https://picsum.photos/g/3000/2000);
  background-size: cover;
  background-position: center;
  display: flex;
  
}

.head{
width: 400px; 
position: relative;
top:20px;
margin: 5px;
padding: 10px;
background: rgba(23, 78, 228, 0.829);
text-align: center;
border-radius: 5px 200px 200px 5px;
transition: 0.5s;
font-family: Verdana, Geneva, Tahoma, sans-serif;
box-shadow: 1px 1px 1px black, 0 5px 20px black;
animation: myframe 2s ease-in-out 0s 1 ;
}

.head:hover{
  transform: rotateX(360deg);
}

@keyframes myframe{
  0%{
    width: 0px;
  }
  100%{ 
    width:400px;
  }
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.904);
}

.how{
  
  position: relative;
  top: 30px;
  width: 100vw;
  justify-content: center;
  text-align: center;
  margin: auto;
}
.our-team {
  padding: 30px 0 40px;
  left: 25vw;
  width: 50vw;
  margin-top: 40px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 1px black, 0 5px 20px black;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color:  rgba(23, 78, 228, 0.829);
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(23, 78, 228, 0.829);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color:  rgba(23, 78, 228, 0.829);
  background-color: #f7f5ec;
}


@media(max-width:800px){
  .our-team{
    width: 90vw;
    height: 50vh;
    left: 3vw;
    margin: auto;
  }
}

/* Login panel */
.login{
  padding: 30px 0 40px;
  width: 35vw;
  left: 32vw;
  top: 100px;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: 1px 1px 1px black, 0 5px 20px black;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
  position: relative;
  padding: 30px;
}

.btn{
  width: 100%;
  font-size: 30px;
  font-weight: bold;
}


.user-image{
  height: 100px;
  width: 100px;
  background: #fff;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media(max-width:800px){
  .login{
    width: 90vw;
    left: 5vw;
    
    margin: auto;
  }
  .register{
    width: 90vw;
  }
}

.form-control:focus{
  outline: none;
  
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button] {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.register{padding: 30px 0 40px;
width: 35vw;
left: 32vw;
top: 50px;
margin: auto;
margin-bottom: 30px;
box-shadow: 1px 1px 1px black, 0 5px 20px black;
background-color: #fff;
text-align: center;
overflow: hidden;
position: relative;
padding: 30px;
}
@media(max-width:800px){
  .register{
    top: 50px;
    width: 90vw;
    left: 5vw;
    
  }
}


textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}